@import url ('https://fonts.googleapis.com/css2? family = Open + Sans: ital, wght @ 1300 & display = swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header*/
header {
    width: 100%;
    height: 600px;
    background: #8A2387;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(23, 89%, 54%, 0.548), hsla(352, 79%, 58%, 0.753), hsla(302, 60%, 34%, 0.452)), url(./img/Opticas\ alondra1.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(23, 89%, 54%, 0.548), hsla(352, 79%, 58%, 0.753), hsla(302, 60%, 34%, 0.336)), url(./Img/Opticas\ alondra1.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.nav {
    margin-left: 850px;
    list-style: none;
    font-size: 15px;
    position: fixed;
    z-index: 100;
    cursor: pointer;
}

.nav li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav li a:hover {
    text-decoration: underline;
}


header .textos-header {
    display: flex;

    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 80px;
    color: #fff;
}

.textos-header h2 {
    font-size: 60px;
    font-weight: 300;
    color: #fff;
}

/* about us*/
.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us {
    width: 48%;

}

.sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
}

.contenido-textos h3 span {
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria*/
.portafolio {
    background: f2f2f2;
}

.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port {
    width: 24%;
    height: 150px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}

.hover-galeria img {
    width: 90px;
}

.hover-galeria p {
    color: white;
    font-size: 18px;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

.wave {
    position: absolute;
    bottom: 0%;
    width: 100%;
    ;
}

.banner {
    background-color: white;
    margin-left: 120px;
    width: 90vw;
    height: 70vh;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 15vh 20vh 10vh 10vh 10vh 10vh;
    grid-template-areas:
        "img price"
        "img title"
        "img p1"
        "img p2"
        "img p3"
        "img p4";
}

/*Banner */
.banner_img {
    background-image: url(./Img/examen.jpg);
    grid-area: img;
    background-position: center;
    background-size: cover;
}

.bestprice {
    grid-area: price;
    text-align: left;
    color: orange;
    padding: 20px;
    font-size: 30px;
}

.banner_title {
    grid-area: title;
    font-size: 40px;
    padding-left: 30px;
}

.parrafo1 {
    grid-area: p1;
    padding-left: 30px;
    font-size: 25px;
}

.parrafo2 {
    grid-area: p2;
    padding-left: 30px;
    font-size: 25px;
}

.parrafo3 {
    grid-area: p3;
    padding-left: 30px;
    font-size: 25px;
}

.parrafo4 {
    grid-area: p4;
    padding-left: 30px;
    font-size: 25px;
}

/*footer */
.contenedor-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    background-color: black;
}

.conten-foo {
    font-size: 15px;
    padding: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.conten-foo a {
    color: white;
    text-decoration: none;

}

.conten-foo a:hover {
    text-decoration: underline;
}

/* Nosotros */

.Texto-nosotros h2 {
    padding: 25;
    font-size: 30px;
    justify-content: center;
    display: flex;
    margin-top: 25px;
}

.Nosotros {
    display: flex;
    justify-content: space-evenly;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 25px;
}

.parrafos {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;

}

#p1 {
    height: 200px;
    width: 400px;
    text-align: justify;
}

#p2 {
    height: 200px;
    width: 400px;
    text-align: justify;
}

.tu-opcion {
    height: 500px;
}

.tu-opcion h3 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    height: 50px;
}

.img-opcion {
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
}

/* Servicios */
.examen {
    height: 480px;
    width: 1000px;
    margin: auto;
    padding: 10px;
}

.info-examen {
    height: 250;
    width: 400px;
    float: left;
}

.info-examen h3 {
    font-size: 35px;
    justify-content: center;
    padding: 10px;
}

.info-examen p {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}

.img-exam {
    height: 250;
    width: 500px;
    float: right;
}

.acces {
    height: 480px;
    width: 1000px;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
}

.info-ventas {
    height: 250;
    width: 400px;
    float: right;
}

.info-ventas h3 {
    font-size: 35px;
    justify-content: center;
    padding: 10px;
}

.img-acces {
    height: 250;
    width: 500px;
    float: left;
    padding: 10px;
}

.info-ventas p {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}

.laboratorio {
    height: 420px;
    width: 1000px;
    margin: auto;
    padding: 10px;
}

.info-lab {
    height: 250;
    width: 400px;
    float: left;
}

.info-lab h3 {
    font-size: 35px;
    justify-content: center;
    padding: 10px;
}

.img-lab {
    height: 250;
    width: 500px;
    float: right;
}

.info-lab p {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}

.fin {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 15px;
    margin: auto;
}

/* Sucursales */
.titulo {
    width: 400px;
    height: 100px;
    margin: auto;
    padding: 30px;
}

.titulo h3 {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
}

.map1 {
    width: 1200px;
    height: 420px;
    margin: auto;
    padding: 20px;
}

.Fuentes {
    width: 580px;
    height: 180px;
    float: left;
    padding: 5px;
}

.Fuentes p {
    justify-content: center;
    padding: 5px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif float: left;
}

.Fuentes h3 {
    padding: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.map-fu {
    width: 580px;
    height: 380px;
    float: right;
    padding: 5px;
}


.map2 {
    width: 1200px;
    height: 420px;
    margin: auto;
    padding: 20px;
}
.bosques1 {
    width: 580px;
    height: 180px;
    float: left;
    padding: 5px;
}

.bosques1 p {
    justify-content: center;
    padding: 5px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif float: left;
}

.bosques1 h3 {
    padding: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.map-bo1 {
    width: 580px;
    height: 380px;
    float: right;
    padding: 5px;
}

.map3 {
    width: 1200px;
    height: 420px;
    margin: auto;
    padding: 20px;
}
.tultepec {
    width: 580px;
    height: 180px;
    float: left;
    padding: 5px;
}

.tultepec p {
    justify-content: center;
    padding: 5px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif float: left;
}

.tultepec h3 {
    padding: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.map-tul {
    width: 580px;
    height: 380px;
    float: right;
    padding: 5px;
}